* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  margin: 0;
  font-size: 85%;
}

.main-nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 14rem;
  box-shadow: 0 0 1px #666666;
}

.image-container {
  height: 25px;
}
.image-container img {
  height: 100%;
}

.logo {
  color: white;
  font-family: "sans-serif";
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.features {
  color: #666666;
  display: flex;
  align-items: center;
}
.features div {
  margin: 0 1rem;
}

.features div:hover {
  cursor: pointer;
  color: white;
}

.contacts {
  color: #666666;
  display: flex;
  align-items: center;
}

.contacts div {
  margin: 0 1rem;
}

.contacts div:hover {
  cursor: pointer;
  color: white;
}

.sign-up {
  background: white;
  color: black;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.sign-up:hover {
  background: black;
  color: white;
}

.mode {
  position: fixed;
  z-index: 200;
  right: 0;
  top: 0;
  margin: 1.3rem 1rem;
  background: black;
  color: white;
  padding: 0.3rem 1rem;
  border: 1px solid #666666;
  border-radius: 5px;
  cursor: pointer;
}

.mode:hover {
  border-color: white;
}

.mode:focus {
  outline: none;
}

.description {
  color: white;
  width: 100%;
  margin: 5rem auto;
  text-align: center;
  font-size: 8.3rem;
  font-weight: bold;
  user-select: none;
}
.description div:nth-child(1) {
  background: linear-gradient(to right, #007cf0 20%, #00dfd8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: ani1 8000ms ease infinite forwards;
}

.description div:nth-child(2) {
  background: linear-gradient(to right, #7928ca 20%, #ff0080);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: ani2 8000ms ease infinite forwards;
}
.description div:nth-child(3) {
  background: linear-gradient(to right, #ff4d4d 20%, #f9cb28);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: ani3 8000ms ease infinite forwards;
}

@keyframes ani1 {
  0% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  33% {
    background: linear-gradient(to right, #007cf0 20%, #00dfd8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  66% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@keyframes ani2 {
  0% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  33% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  66% {
    background: linear-gradient(to right, #7928ca 20%, #ff0080);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
@keyframes ani3 {
  0% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  33% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  66% {
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #ff4d4d 20%, #f9cb28);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.button-container {
  text-align: center;
  margin: 2rem 0;
}

.button-container button:nth-child(1) {
  background: white;
  color: black;
  padding: 1rem 3rem;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  margin: 0 1rem;
  font-weight: bold;
}

.button-container button:nth-child(1):hover {
  background: black;
  color: white;
}

.button-container button:nth-child(2) {
  background: black;
  color: #666666;
  padding: 1rem 3.8rem;
  border-radius: 5px;
  border: 1px solid #666666;
  cursor: pointer;
  margin: 0 1rem;
  font-weight: bold;
}

.button-container button:nth-child(2):hover {
  color: white;
  border-color: white;
}

.paragraph {
  text-align: center;
  color: #666666;
  font-size: 1.2rem;
  width: 60rem;
  margin: 5rem auto;
}
